bookmarks
bookmarks.html
vehicle-building-games
vehicle-building-games.html
*.obj
*.exe
tags
*.o
*.svg
*.pdf
*.d

# Generated:
http.c
ctt.c
eof.c
erro.c
http.c
parse2.c
percent.m4
response.c
response.rl
route.rl
movies.c
hack.c

# This is important for ACMEv2 Let's Encrypt stuff
# I think they are very sensitive. I'm not sure.
kid
private_key.pem
a_different_private_key.pem
certificate.pem
